<h1>Pirates</h1>
  <h3>Name: <%= @new_pirate.name %></h3>
  <h4>Weight: <%= @new_pirate.weight %> pounds</h4>
  <h4>Height: <%= @new_pirate.height %> inches</h4>
<br>

<h1>Ships</h1>
<% @new_ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  <br>
<% end %>
